# Various environment variables.

# This used for authorizing internal requests to the packages.json, like when dry-running a package require.
# Go to your WordPress dashboard under Settings > LT Records > Access, create new API key and paste it bellow.
LTRECORDS_PHP_AUTH_USER="some_api_key"

# The encryption used to encrypt sensitive information throughout PixelgradeLT Records. Do not change this once in production!
# After composer install, run `vendor/bin/generate-defuse-key` from the command-line to generate a proper key for you.
# LTRECORDS_ENCRYPTION_KEY=""
