# MAKE A COPY OF THIS FILE AS .env AND FILL IT WITH THE ACTUAL VALUES OF YOUR SETUP.
# Environment variables needed for running the PHPUnit tests.

WP_TESTS_DB_NAME="wordpress_test_db"
WP_TESTS_DB_USER="db_user"
WP_TESTS_DB_PASSWORD="db_user_pass"
WP_TESTS_DB_HOST="localhost"
